.container {
    max-width: 1536px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
}

.btn-primary {
    background-color: var(--primary-blue);
    color: var(--bg-white);
}

.btn-primary:hover {
    background-color: var(--primary-blue-hover);
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-blue);
    border: 3px solid var(--primary-blue);
}

.btn-outline:hover {
    background-color: var(--bg-light);
}